### 조건문(IF)

In [ ]:
x = 7
if x == 7:
  print('lucky')
else:
  print('unlucky')

lucky

In [ ]:
x = 15 # 중첩 if문
if x >= 10:
  if x % 2 == 1:
    print('10이상의 홀수')

10이상의 홀수

In [ ]:
x = 7
if x > 0 and x < 10: # = 0<x<10
  print('10보다 작은 자연수')

10보다 작은 자연수

In [ ]:
x = 0
if x > 0:
  print('양수')
elif x == 0:
  print("0")
else:
  print('음수')

0

### 반복문(For, While)

In [ ]:
a = range(1, 10) # 1부터 10 - 1 = 9까지
print(list(a))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(10): # 0 ~ 9까지 10번 반복
  print(i, end = ' ') # :로 인한 들여쓰기

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(10, 0, -1): # 10부터 1씩 작아짐 / range(a, b, c)  'c' : 반복 방법
  print(i)

In [ ]:
for i in range(1, 11): # 1 ~ 10 까지
  if i % 2 == 0:
    continue # 위의 조건을 만족하면 print X
  print(i)

In [ ]:
i = 0

while i < 10:
  print(i)
  i += 1

In [ ]:
for i in range (1, 13): # for - else : for문을 정상적으로 실행될 때 else구문 O
  print(i)
  if i >  15:
    break # break 걸릴 시 else구문 X
else:
  print(11)

### 반복문을 이용한 문제풀이

In [ ]:
n = int(input()) # input : string으로 들어가기 때문 int형 변경
for i in range(1, n+1): # 1 ~ n까지
  print(i)

In [ ]:
# 1 ~ N 홀수 출력
n = int(input())
for i in range(1, n+1, 2):
  print(i)

In [ ]:
# 1 ~ N 홀수 출력
n = int(input())
for i in range(1, n+1):
  if i % 2 == 0:
    continue
  print(i)

In [ ]:
# 1 ~ N 홀수 출력
n = int(input())
for i in range(1, n+1):
  if i % 2 == 1:
    print(i)

In [ ]:
# 1 ~ N까지의 합 구하기
result = 0
n = int(input())
for i in range(1, n+1):
  result += i
print(result)

In [ ]:
# N의 약수 구하기
n = int(input())
for i in range(1, n+1):
  if n % i == 0:
    print(i, end = ' ')

10
1 2 5 10

### 중첩 반복문(2중 For문)

In [ ]:
for i in range(5): # 1개에 대해서
  print('i:', i, sep = '', end = ' ')
  for j in range(5): # 0~4까지 반복
    print('j:',j, sep ='' ,end = ' ')
  print() # 줄바꿈

i:0 j:0 j:1 j:2 j:3 j:4
i:1 j:0 j:1 j:2 j:3 j:4
i:2 j:0 j:1 j:2 j:3 j:4
i:3 j:0 j:1 j:2 j:3 j:4
i:4 j:0 j:1 j:2 j:3 j:4

In [ ]:
# 별 찍기
for i in range(5):
  for j in range(i+1):
    print('*', end = '')
  print()

*
**
***
****
*****

In [ ]:
for i in range(5):
  for j in range(5-i):
    print('*', end = '')
  print()

*****
****
***
**
*

In [ ]:
for i in range(5):
  for j in range(5-i):
    print('*', end = '')
  print()

*****
****
***
**
*

### 문자열과 내장함수

In [ ]:
msg = 'It is Time'
print(msg.upper()) # 대문자
print(msg.lower()) # 소문자
tmp = msg.upper()
print(tmp.find('T')) # 문자 중 가장 첫번째 나오는 'T'
print(tmp.count('T')) # 문자 중 'T'의 개수
print(msg[:2])
print(len(msg)) # 길이

IT IS TIME
it is time
1
2
It
10

In [ ]:
# 한 개씩 접근
for i in range(len(msg)): 
  print(msg[i], end = ' ')
print()
for x in msg: 
  print(x, end = ' ')

I t   i s   T i m e
I t   i s   T i m e

In [ ]:
for x in msg:
  if  x.isupper(): # 대문자 = True
    print(x, end = '')

IT

In [ ]:
for x in msg:
  if  x.islower(): # 소문자 = True
    print(x, end = '')

tisime

In [ ]:
for x in msg:
  if  x.isalpha(): # 알파벳 = True / 공백 = False
    print(x, end = '')

ItisTime

In [ ]:
tmp = 'AZ'
for x in tmp:
  print(ord(x)) # ASCII Number

65
90

In [ ]:
tmp = 'az'
for x in tmp:
  print(ord(x)) # ASCII Number

97
122

In [ ]:
tmp = 66
print(chr(tmp)) # ASCII Number

B

### 리스트와 내장함수

In [ ]:
import random as r

In [ ]:
b = list(range(1, 11))
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
a = [1, 2, 3, 4, 5]
print(a)

[1, 2, 3, 4, 5]

In [ ]:
c = a + b
print(c)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# list 내장함수 - append : 추가
a.append(6)
print(a)

[1, 2, 3, 4, 5, 5, 5, 6, 6]

In [ ]:
# insert
a.insert(3, 7) # 3번 인덱스(4번째 자리)에 '7' 추가
print(a)

[1, 2, 3, 7, 4, 5, 5, 5, 6, 6]

In [ ]:
# pop : 리스트에서 인덱스 값 삭제
a.pop() # 리스트에서 맨 뒤의 값 삭제
a.pop(3) # 3번 인덱스 삭제
print(a)

[1, 2, 3, 4, 5, 5]

In [ ]:
# remove : 값을 삭제
a.remove(4)
print(a)

[1, 2, 3, 5, 5]

In [ ]:
# index(값) : 위치를 찾아줌
print(a.index(5))

3

In [ ]:
a = list(range(11))
print(sum(a)) # 총합
print(max(a)) # Max
print(min(a)) # Min
print(min(7, 5)) # 인자 값 중에서 최소값

55
10
0
5

In [ ]:
r.shuffle(a)
print(a)
a.sort() # 오름차순
print(a)
a.sort(reverse = True) # 내림차순
print(a)

[6, 1, 3, 5, 9, 4, 10, 2, 8, 7, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
a = [23, 12, 36, 53, 19]
for i in range(len(a)):
  print(a[i], end = ' ')
print()

for x in a:
  if x % 2 == 1: # 리스트 - 선호하는 방식
    print(x, end = ' ')
print()

23 12 36 53 19
23 53 19

In [ ]:
for x in enumerate(a): # 튜플 값 출력 - 인덱스 값
  print(x)
print()

for x in enumerate(a): # 튜플 값 출력 - 인덱스 값
  print(x[0], x[1]) # 인덱스 번호와 값을 같이 출력
print()

for index, value in enumerate(a):
  print(index, value)

(0, 23)
(1, 12)
(2, 36)
(3, 53)
(4, 19)

0 23
1 12
2 36
3 53
4 19

0 23
1 12
2 36
3 53
4 19

* 리스트와 튜플의 차이점
  * 리스트는 값 변경이 가능하지만, 튜플 값은 변경이 불가능하다.

In [ ]:
if all(60 > x for x in a): # 60과 x 값을 비교 / all : 모두 참 - 참 리턴
  print('YES')
else:
  print('NO')

YES

In [ ]:
if all(50 > x for x in a): # 50과 x 값을 비교 / all : 모두 참 - 참 리턴
  print('YES')
else:
  print('NO')

NO

In [ ]:
if any(15 > x for x in a): # 15과 x 값을 비교 / any : 어떤 하나라도 참 - 참 리턴
  print('YES')
else:
  print('NO')

YES

In [ ]:
if any(11 > x for x in a): # 11과 x 값을 비교 / any : 어떤 하나라도 참 - 참 리턴
  print('YES')
else:
  print('NO')

NO

### 2차원 리스트 생성과 접근

In [ ]:
a = [0] * 3 # 1차원 리스트
print(a)

[0, 0, 0]

In [ ]:
a = [[0] * 3 for _ in range(3)] # 2차원 리스트
print(a)

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [ ]:
# a[0][1] : a의 0행 1열
a[0][1] = 1
print(a)

[[0, 1, 0], [0, 0, 0], [0, 0, 0]]

In [ ]:
for x in a: # 행렬 보는 방법
  print(x)

[0, 1, 0]
[0, 0, 0]
[0, 0, 0]

In [ ]:
for x in a:
  for y in x:
    print(y, end = '')
  print()

010
000
000

### 함수 만들기

In [ ]:
def add (a, b): # 함수 이름
  c = a + b
  d = a - b
  return c, d # 반환 : 값을 받는다. (두개의 값을 반환 할 수 있다.)

print(add(3, 5))

(8, -2)

In [ ]:
# 소수 판별 함수
a = [12, 13, 7, 9, 19]

def isPrime(x):
  for i in range(2, x):
    if x % i == 0:
      return False # 종료 되는 경우 False
  return True # 종료 되지 않는 경우 True 

for x in a:
  if isPrime(x): # 참일 떄 출력
    print(x, end = ' ')

13 7 19

* 람다함수

In [ ]:
# 함수
def plus_one(x):
  return x + 1
print(plus_one(2))

# 람다함수
plus_two = lambda x : x + 2
print(plus_two(2))

3
4

In [ ]:
# 내장함수의 인자로 사용할 때 유용
a = [1, 2, 3]
print(list(map(plus_one, a))) # map(a, b) : a = 함수(= int, def), b = 인자

# 람다함수로 표현
print(list(map(lambda x : x + 1, a)))

[2, 3, 4]
[2, 3, 4]